body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

header {
  text-align: left;
}

header, footer {
  background-color: #69afea;
}

.formToBeFilled {
  line-height: 9vw;
}

#explSatisf, #explRec {
  height: 120px;
  width: 450px;
  border-radius: 0.5em;
  border-style: ridge;
}
